.info-section {
    margin-bottom: 35px;
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
}

h2 {
    font-size: 1.36em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 14px;
    color: #101010;
}

p,
ul {
    font-size: 1.09em;
    line-height: 1.65;
    margin: 10px 0;
}

ul {
    margin-left: 0;
    padding-left: 18px;
}

.form-section {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
    padding: 33px 18px 25px 18px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #222;
    font-size: 0.97em;
    font-weight: 500;
}

input,
textarea,
select {
    width: 100%;
    background: #fff;
    color: black;
    border: 1.3px solid #101010;
    border-radius: 6px;
    padding: 8px 10px;
    margin-bottom: 16px;
    font-size: 1em;
    transition: border 0.18s;
    box-sizing: border-box;
    font-family: inherit;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #111;
    outline: none;
}

select {
    font-weight: bold;
}

.error {
    color: #d32121;
    font-size: 0.93em;
    font-weight: 600;
    margin-bottom: 8px;
}

button {
    width: 100%;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 21px;
    font-size: 1.03em;
    padding: 11px 0;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
    transition:  0.18s;
    font-weight: 600;
    letter-spacing: .5px;
}

button:hover {
    color: #111;
    background-color: #fff;
}

footer {
    background: #101010;
    color: #fff;
    text-align: center;
    padding: 22px 0 14px 0;
    font-size: .98em;
    letter-spacing: .4px;
}


@media (max-width:520px) {
    .container {
        padding: 23px 6vw 15px 6vw;
        max-width: 100vw;
    }

    .form-section {
        padding: 17px 7vw 16px 7vw;
    }

    h2 {
        font-size: 1.10em;
    }
}