*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    background: #fff;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 42px 16px 28px 16px;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #585858;
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #585858;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
main{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}
article{
    width: 30%;
    height: 500px;
    background-color: white;
    display: flex;
    margin: 30px 20px 0 20px;
    flex-direction: column;
    box-shadow: #585858 0px 0px 10px 1px;
    border-radius: 5px;
}
article img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
p span{
    color: rgb(156, 223, 57);
}
p{
    color: gray;

    margin: 10px 0 20px 0;
}
article a{
   text-decoration: none;
   color: black;
   font-weight: 600;
   margin: 30px 0 0 0;
}
.text-wrapper{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
article:hover{
transform: scale(105%);
transition: 0.5s;
cursor: pointer;
}
@media (max-width:1100px){
    article{
        height: 550px;
    }
}
@media (max-width:850px){
   main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   article{
    width: 80%;
   }
}